    <section class="hbox stretch">
        <aside class="aside bg-light lter b-r" id="nav">
          <nav class="nav-primary hidden-xs">
            <ul class="nav">
              <li>
              </li>
            </ul>
          </nav>
        </aside>
          <section>
          <div class="wrapper">
            <p class="h4">
            Home#index page
            </p>
            <p>You can use the .hbox and .vbox to build the complicated layouts.</p>
          </div>
        </section>
        <aside class="bg-light lter b-l aside-sm">
          <div class="wrapper">aside content</div>
        </aside>
      </section>
    </section>